@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Montserrat", sans-serif !important;
}

/* BARRA DE NAVEGAÇÃO */
.navbar {
    transition: all 0.3s ease;
    backdrop-filter: blur(0rem);
    background-color: rgba(255, 255, 255, 0);
}

.navbar.scrolled {
    backdrop-filter: blur(0.3rem);
    background-color: rgba(255, 255, 255, 0.7);
}

/* BANNER CAROUSEL */
.carousel-caption {
    right: 6vw;
    top: 13vw;
    left: 50vw;
    text-align: right;
}

.carousel-item {
    transition: transform 0.2s ease-in-out, opacity 0.6s ease-out !important; 
}

.title {
    font-size: 6rem;
    font-family: "Libre Baskerville", serif;
    margin: 0;
    line-height: 1;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(14, 11, 11, 0.322);
}

.display-5 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.text-red {
    color: rgb(222, 52, 52);
}

.text-green {
    color: rgb(55, 160, 41);
}

.lead {
    font-size: 1.1rem;
}

.carousel-inner .carousel-item .carousel-caption a {
    background-color: rgb(55, 160, 41) !important;
    transition: 0.3s ease;
}

.carousel-inner .carousel-item .carousel-caption a:hover {
    background-color: rgb(64, 185, 48) !important;
    transform: scale(1.05);
    cursor: pointer;
}

/* QUEM SOMOS */
#quem_somos .container {
    font-family: "Oswald", sans-serif;
}

#quem_somos .container .flag {
    width: 4.5rem;
    border-top: solid rgb(222, 52, 52)  0.35rem;
}

#quem_somos .container p {
     font-family: "Montserrat", sans-serif;
     margin-bottom: 6rem;
}

#quem_somos .container .selo img {
    transform: rotate(-30deg);
}

#quem_somos .container .sinatraass img {
    transform: rotate(-10deg);
    width: 8rem;
    margin: 3rem;
}

/* CARDAPIO */
.carta {
    z-index: 100;
    transition: 0.3s ease;
}

.carta:hover {
    box-shadow: var(--bs-box-shadow);
    z-index: 101;
    transform: scale(1.05);
    background-color: antiquewhite;
}

.text-normal {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

/* INGREDIENTES */
#ingredientes .container {
    font-family: "Oswald", sans-serif;
}

#ingredientes .container p {
     font-family: "Montserrat", sans-serif;
}

#ingredientes .row button {
    background-color: rgb(222, 52, 52) !important;
    transition: 0.3s ease;
}

#ingredientes .row button:hover {
    background-color: rgb(248, 61, 61) !important;
    transform: scale(1.05);
    cursor: pointer;
}

/* SLIDDER */
.img-slidder {
    height: 100px;
}

.slidder {
    z-index: 100;
    transition: 0.3s ease;
}

.slidder:hover {
    box-shadow: var(--bs-box-shadow);
    z-index: 101;
    transform: scale(1.03);
    cursor: pointer;
    background-color: antiquewhite;
}

/* BLOG */
#blog .container {
    font-family: "Oswald", sans-serif;
}

#blog .container .flag {
    width: 4.5rem;
    border-top: solid rgb(222, 52, 52)  0.35rem;
}

.blog {
    transition: 0.25s ease;
    cursor: pointer;
}

.blog:hover {
    box-shadow: var(--bs-box-shadow);
}

/* RESPONSIVIDADE LAPTOP */
@media (max-width: 1024px){

    /* BARRA DE NAVEGAÇÃO */
    .container-fluid {
        padding: 0;
    }

    .navbar-brand img {
        height: 7rem;
    }

    .nav-item {
        font-size: 0.8rem !important;
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    /* BANNER CAROUSEL */
    .display-5 {
        font-size: 2.5rem;
    }   

    .title{
        font-size: 4.5rem;
        margin: 0;
        line-height: 1;
        text-shadow: 0.5rem 0.5rem 0.5rem rgba(14, 11, 11, 0.322);
    }

    .lead {
        font-size: 1rem;
    }

    #carousel .carousel-inner a {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }

    /* CARDÁPIO */
    .img-pizza {
        padding: 1rem !important;
    }

    .text-normal {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
    }

    .carta .px-3 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    #cardapio h5 {
        font-size: 1.2rem;
    }

    /* INGREDIENTES */
    #ingredientes .container {
        line-height: 1.2rem;
    }
}

/* RESPONSIVIDADE TABLET */
@media (max-width: 768px){

    /* BARRA DE NAVEGAÇÃO */
    .container-fluid {
        padding: 0;
    }

    .navbar-brand img {
        height: 5rem;
    }

    .nav-item {
        font-size: 0.6rem !important;
        padding-right: 0.2rem !important;
        padding-left: 0.2rem !important;
    }

    /* BANNER CAROUSEL */


    .display-5 {
        font-size: 2rem;
    }   

    .title{
        font-size: 3.5rem;
        margin: 0;
        line-height: 1;
        text-shadow: 0.5rem 0.5rem 0.5rem rgba(14, 11, 11, 0.322);
    }

    .lead {
        font-size: 0.8rem !important;
    }

    #carousel .carousel-inner a {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
    }
}

/* RESPONSIVIDADE CELULAR */
@media (max-width: 425px){

    /* BARRA DE NAVEGAÇÃO */
    .container-fluid {
        padding: 0;
    }

    /* BANNER CAROUSEL */
    .display-3 {
        font-size: 2rem;
    }   

    .title{
        font-size: 3.5rem;
        margin: 0;
        line-height: 1;
        text-shadow: 0.5rem 0.5rem 0.5rem rgba(14, 11, 11, 0.322);
    }

    .lead {
        font-size: 1rem;
    }
}